
* {
    box-sizing: border-box;
}

@keyframes pan {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60% 20%;
  }
}


body {
    font-family: "Space Grotesk", sans-serif;;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;  
    
    animation: pan 20s linear infinite;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23a580df' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header {
    color: #000000;
    background-color: #DFDBE5;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header img.logo {
    height: auto;     /* Maintain the aspect ratio */
    width: 50px;      /* Maintain the aspect ratio */
}

#button {
   margin-bottom:1rem;
   
   background-color: #4CAF50;
   color: #FFFFFF;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   font-size: 16px;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
    text-align: center;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #333333;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

main {
    padding: 2rem 1rem;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

#marketplace {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.market-item {
   background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    transition: transform 0.2s; 
}

.market-item:hover {
    transform: translateY(-5px);
}

.market-item .logo {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding: 50px;
}


.market-item .emoji {
    width: auto;
    height: 20px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}

.market-item .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.market-item h2 {
    color: #666666;
    font-size: 1.5rem;
    margin: .3rem 0 0.5rem;
    font-weight: 700;
}

.market-item p {
    margin: 0.5rem 0;
}  

.market-item .price {
    color: #4CAF50;
    font-weight: bold;
    margin-bottom: .1rem;
}

.market-item .rating {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.market-item .rating span {
-webkit-text-stroke: .5px #d4c012;
    color: #ffe715;
    font-size: 1.2rem;
    margin-right: 0.2rem;
}


#chatbox-container {
    position: static;
    width: 100%;
    background-color: #f1f1f1;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#chatbox {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #fff;
}

#chat-messages {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message .text {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

#chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
}

#chat-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    color: #888;
}

#chat-input input:disabled {
    background-color: #f9f9f9;
}

.tooltip {
    color: #888;
    font-size: 12px;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 300px; /* Adjust based on the height of the chatbox */
}

#chatbox-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
